<h5>Edição de Turmas</h5>
<p>Utilize os campos para alterar os dados de uma turma</p>

<form [formGroup]="formEdicao" (ngSubmit)="onSubmit()">
  <div *ngIf="mensagem" class="mb-3 alert alert-primary">
    <strong>{{mensagem}}</strong>
  </div>
  <!--hidden ocultar, para nao permitir que edit é read-->
  <!--campo oculto -->
  <input type="hidden" formControlName="idTurma" />

  <div class="row mb-3">
    <!--mb margem inferior -->
    <div class="col-md-6">
      <!-- 6 colunas-->
      <label>Semestre da turma:</label>
      <input type="text" class="form-control" formControlName="semestre" />
      <div class="text-danger" *ngIf="form.semestre.touched && form.semestre.invalid">
        <span *ngIf="form.semestre.errors.required">
          Por favor insira o semestre da turma.
        </span>
      </div>
    </div>
    <div class="col-md-3">
      <!-- 6 colunas-->
      <label> Ano :</label>
      <input type="text" class="form-control" formControlName="ano" />
      <div class="text-danger" *ngIf="form.ano.touched && form.ano.invalid">
        <span *ngIf="form.endereco.errors.required">
          Por favor insira o ano da Turma.
        </span>
      </div>
    </div>
    
  </div>
 


  <div class="row mb-3">
    <div class="col-md-12">
      <input type="submit" [disabled]="!formEdicao.valid" class="btn btn-success" value="Salvar Alterações" />
    </div>
  </div>
</form>


