<h5>Consulta de Alunos</h5>
<p>Listagem de alunos cadastrados</p>

<!--a tabela vai ter cabecalho, corpo e rodapé-->
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <td>Nome do Aluno</td>
      <td>Endereco</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of alunos">
      <td>{{ p.nome }}</td>
      <td>{{ p.endereco  }}</td>
      <td>
        <button
          class="btn btn-primary"
          [routerLink]="['/edita-alunos', p.idAluno]"
        >
          Editar
        </button>
        &nbsp;
        <button class="btn btn-danger" (click)="excluir(p.idAluno)">
          Excluir
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6">Total de registros :{{ alunos.length }}</td>
    </tr>
  </tfoot>
</table>
