<h5>Consulta de Cursos</h5>
<p>Listagem de cursos cadastrados</p>

<!--a tabela vai ter cabecalho, corpo e rodapé-->
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <td>Nome do Curso</td>
      <td>Sigla</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of cursos">
      <td>{{ p.nome }}</td>
      <td>{{ p.sigla  }}</td>
      <td>
        <button
          class="btn btn-primary"
          [routerLink]="['/edita-cursos', p.idCurso]"
        >
          Editar
        </button>
        &nbsp;
        <button class="btn btn-danger" (click)="excluir(p.idCurso)">
          Excluir
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6">Total de registros :{{ cursos.length }}</td>
    </tr>
  </tfoot>
</table>

